
        
        {% extends 'base.html' %}
        {% block content %}
        
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="#">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Food Start -->
        <div class="food mt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="food-item">
                            <i class="flaticon-burger"></i>
                            <h2>Indian</h2>
                            <p>
                                Embark on a flavorful journey through the rich tapestry of Indian cuisine at our restaurant
                            </p>
                            <a href="{% url 'all_dishes' %}">View Menu</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-item">
                            <i class="flaticon-snack"></i>
                            <h2>Continental</h2>
                            <p>
                                Indulge in a culinary odyssey through the diverse flavors of Continental cuisine at our restaurant
                            </p>
                            <a href="{% url 'all_dishes' %}">View Menu</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-item">
                            <i class="flaticon-cocktail"></i>
                            <h2>Chinese</h2>
                            <p>
                                Experience an enticing voyage through the intricate flavors of Chinese cuisine at our restaurant.
                            </p>
                            <a href="{% url 'all_dishes' %}">View Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Food End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="/static/img/about.jpg" alt="Image">
                            <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About Us</p>
                                <h2>Cooking Since 1990</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    For over three decades, our restaurant has been a culinary cornerstone, delighting patrons since 1990 with our timeless recipes and warm hospitality. From the very first dish served to our latest creation, we've remained dedicated to crafting unforgettable dining experiences.
                                </p>
                                <p>
                                    Our enduring commitment to quality and innovation has earned us the enduring affection of our cherished customers, who have made our establishment a beloved fixture in their lives. Through the years, we've cherished every moment spent in the kitchen, every satisfied smile leaving our dining room, and every memory shared over a meal. As we continue to evolve and grow, we remain grateful for the unwavering support of our loyal patrons, who inspire us to reach new heights every day. Here's to many more years of culinary excellence and cherished memories shared around our tables.
                                </p>
                                <a class="btn custom-btn" href="{% url 'index' %}">Book A Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->

        {% endblock %}